*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    flex-direction: column;
}

/* header style */
.header {
    background:linear-gradient(black, rgb(29, 29, 29));
    width: 100%;
    height: 70px;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px;
    border-bottom: 0.5px solid rgb(37, 37, 37);
}

/* input/style logo */
.logo{
    background-image: url(../images/iconUtube.png);
    background-size: cover;
    width: 60px;
    height: 60px;
    margin-left: 10px;
}

/* isotype style */
.isotype{
    color: rgb(241, 228, 222);
    font-family: "LeagueGothic";
    margin-top: 7px;
    margin-left: 7px;
}

/* serch styles */
.searchContainer{
    padding-top: 7px;
    padding-bottom: 7px;
    display: flex;
    margin-left: 600px;
}

.searchContainer .search{
    background-color: rgb(31, 30, 30);
    color:aliceblue;
    height: 35px;
    border: none;
    outline: none;
    padding-left: 10px;
    border-bottom-left-radius: 40px;
    border-top-left-radius: 40px;
}

/* button styles */
.searchContainer button{
    border: none;
    color: #474646;
    background-color: rgb(49, 48, 48);
    border-bottom-right-radius: 40px;
    border-top-right-radius: 40px;
    padding-left: 10px;
    padding-right: 12px;
    transition: 1s;
}

.searchContainer button:hover{
    color: rgb(241, 228, 222);
    background:linear-gradient(rgb(161, 0, 0),rgb(255, 0, 0),rgb(255, 30, 0),rgb(255, 123, 0))
}

/* container style */
.container1 {
    background-color: black;
    width: 100%;
    height: 1100px;
    display: flex;
    justify-content: space-between;
    padding: 30px;
    margin: none;
}

/* section style */
.section {
    background-color: black;
    color: aliceblue;
    width: 75%;
    height: 1100px;
}

.section .containerTitle {
    font-family: "RobotoRegular";
    margin-top: 10px;
    margin-left: 5px;
}

/* advised Videos style */
.advisedVideos{
    width: 100%;
    height: 200px;
    border: 0.5px solid rgb(51, 51, 51);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 15px;
    border-radius: 10px;
    overflow-x: auto; /*linea para generar el scroll*/
}

/* scrollbar styles*/
.advisedVideos .advisedVideosItem{
    margin: 20px; 
}

.advisedVideos::-webkit-scrollbar{
    background-color: rgb(34, 34, 34);
    border-radius: 10px;
    border: none;
}

.advisedVideos::-webkit-scrollbar-track{
    background-color: rgb(39, 39, 39);
}

.advisedVideos::-webkit-scrollbar-thumb{
    background-color: rgb(20, 20, 20);
}

.advisedVideos::-webkit-scrollbar-button{
    background-color: rgb(73, 73, 73);
    border-radius: 10px;
    transition: 1s;
}

.advisedVideos::-webkit-scrollbar-button:hover{
    background-color: red;
}


/* aside style */
.aside {
    background-color: black;
    width: 23%;
    height: 1100px;
    display: flex;
    flex-direction: column;
}

.aside .infoChannel{
    width: 100%;
    height: 100px;
    border: 0.5px solid rgb(51, 51, 51);
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 10px;  
}

.aside .infoChannel .photoChannel{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    margin-left: 20px;
    border: 5px solid rgb(51, 51, 51);
    transition: 1s;
}

.aside .infoChannel .photoChannel:hover{
    border: 5px solid rgb(255, 0, 0);
}

.aside .infoChannel .nameChannel{
    font-family: "RobotoRegular"; 
    color: aliceblue; 
    margin-top: 7px;
    margin-left: 15px;
}

.aside .feedback {
    width: 100%;
    height: 800px;
    border: 0.5px solid rgb(51, 51, 51);
    border-radius: 10px;
    overflow-y: auto; /*linea para generar el scroll*/
    margin-bottom: 10px;
}

/* scrollbar styles*/
.aside .feedback::-webkit-scrollbar{
    background-color: rgb(34, 34, 34);
    border-radius: 10px;
}

.aside .feedback::-webkit-scrollbar-track{
    background-color: rgb(39, 39, 39);
}

.aside .feedback::-webkit-scrollbar-thumb{
    background-color: rgb(20, 20, 20);
}

.aside .feedback::-webkit-scrollbar-button{
    background-color: rgb(73, 73, 73);
    border-radius: 10px;
}

.aside .feedback::-webkit-scrollbar-button:hover{
    background-color: red;
}


.aside .feedback .feedbackItem {
    width: 100%;
    color: aliceblue;
    display: flex;
    flex-direction: column;
    padding: 7px;
    font-family: "RobotoRegular";
    transition: 0.5s;
    border: 0.5px solid transparent;
}

.aside .feedback .feedbackItem:hover{
    background-color: #161616;
    border: 0.5px solid rgb(51, 51, 51);
}

/* video description style*/
.videoDescription {
    width: 100%;
    color: aliceblue;
    padding: 10px;
    border: 0.5px solid rgb(51, 51, 51);
    border-radius: 10px;

}

/*footer style*/
.footer {
    background:linear-gradient(rgb(29, 29, 29), black);
    border-top: 0.5px solid rgb(37, 37, 37);
    color: rgb(138, 130, 121);
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 10px;
    font-family: "RobotoRegular";
}

/* fuentes usadas en el estilo */
@font-face {
    font-family: "LeagueGothic";
    src: url('../fonts/LeagueGothic.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "RobotoRegular";
    src: url('../fonts/RobotoRegular.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
}




